{% extends 'CurrencyCalculatorBundle:Layouts:currency-calculator-layout.html.twig' %}

{% block title %}{% trans %}Currency calculator{% endtrans %}{% endblock %}
{% block header %}{% trans %}There you can calculate one currency amount to another{% endtrans %}{% endblock %}

{% block body %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
